 .u-section-1 {
  background-position: 50% 50%;
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 575px;
}

.u-section-1 .u-image-1 {
  width: 555px;
  height: 387px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 141px auto 0 0;
}

.u-section-1 .u-image-2 {
  width: 570px;
  height: 387px;
  margin: -387px 0 47px auto;
}

@media (max-width: 1199px) {
  .u-section-1 .u-image-2 {
    margin-top: 20px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 544px;
  }

  .u-section-1 .u-image-1 {
    width: 540px;
    height: 376px;
  }

  .u-section-1 .u-image-2 {
    width: 540px;
    height: 367px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 269px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 237px;
  }

  .u-section-1 .u-image-2 {
    width: 340px;
    height: 231px;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 447px;
}

.u-section-2 .u-text-1 {
  font-size: 1.875rem;
  font-weight: 700;
  margin: 20px auto 0;
}

.u-section-2 .u-slider-1 {
  width: 820px;
  min-height: 322px;
  height: auto;
  margin: 17px auto 60px;
}

.u-section-2 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
  width: auto;
  height: auto;
}

.u-section-2 .u-image-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/-b.png");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-1 {
  padding: 21px 60px;
}

.u-section-2 .u-image-2 {
  width: 22px;
  height: 22px;
  margin: 13px auto 0 263px;
}

.u-section-2 .u-text-2 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: -24px auto 0;
}

.u-section-2 .u-text-3 {
  width: 409px;
  margin: 39px auto 0;
}

.u-section-2 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 46px auto 0;
}

.u-section-2 .u-image-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/-b.png");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-2 {
  padding: 21px 60px;
}

.u-section-2 .u-image-4 {
  width: 22px;
  height: 22px;
  margin: 18px auto 0 192px;
}

.u-section-2 .u-text-4 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: -24px auto 0;
}

.u-section-2 .u-text-5 {
  margin: 36px 20px 0;
}

.u-section-2 .u-image-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/-b.png");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-3 {
  padding: 21px 60px;
}

.u-section-2 .u-image-6 {
  width: 22px;
  height: 22px;
  margin: 18px auto 0 223px;
}

.u-section-2 .u-text-6 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: -24px auto 0;
}

.u-section-2 .u-text-7 {
  margin: 36px 20px 0;
}

.u-section-2 .u-image-7 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/-b.png");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-4 {
  padding: 21px 60px;
}

.u-section-2 .u-image-8 {
  width: 22px;
  height: 22px;
  margin: 18px auto 0 223px;
}

.u-section-2 .u-text-8 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: -24px auto 0;
}

.u-section-2 .u-text-9 {
  margin: 36px 20px 0;
}

.u-section-2 .u-image-9 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/-b.png");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-5 {
  padding: 21px 60px;
}

.u-section-2 .u-image-10 {
  width: 22px;
  height: 22px;
  margin: 18px auto 0 203px;
}

.u-section-2 .u-text-10 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: -24px auto 0;
}

.u-section-2 .u-text-11 {
  margin: 35px 20px 0;
}

.u-section-2 .u-image-11 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/-b.png");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-6 {
  padding: 21px 60px;
}

.u-section-2 .u-image-12 {
  width: 22px;
  height: 22px;
  margin: 18px auto 0 240px;
}

.u-section-2 .u-text-12 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: -24px auto 0;
}

.u-section-2 .u-text-13 {
  margin: 48px 20px 0;
}

.u-section-2 .u-image-13 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/-b.png");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-7 {
  padding: 21px 60px;
}

.u-section-2 .u-image-14 {
  width: 22px;
  height: 22px;
  margin: 18px auto 0 226px;
}

.u-section-2 .u-text-14 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: -24px auto 0;
}

.u-section-2 .u-text-15 {
  margin: 48px 20px 0;
}

.u-section-2 .u-image-15 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/-b.png");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-8 {
  padding: 21px 60px;
}

.u-section-2 .u-image-16 {
  width: 22px;
  height: 22px;
  margin: 16px auto 0 207px;
}

.u-section-2 .u-text-16 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: -22px auto 0;
}

.u-section-2 .u-text-17 {
  margin: 61px 20px 0;
}

.u-section-2 .u-carousel-control-1 {
  width: 105px;
  height: 105px;
  left: -71px;
  position: absolute;
  right: auto;
  padding: 39px;
}

.u-section-2 .u-carousel-control-2 {
  width: 105px;
  height: 105px;
  left: auto;
  position: absolute;
  right: -78px;
  padding: 39px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-7 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-9 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-11 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-13 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-15 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-17 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-slider-1 {
    width: 720px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-text-2 {
    margin-top: 20px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-container-layout-6 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-container-layout-7 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-container-layout-8 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-slider-1 {
    width: 540px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-slider-1 {
    width: 340px;
    min-height: 3297px;
  }

  .u-section-2 .u-text-2 {
    margin-top: -24px;
  }

  .u-section-2 .u-text-3 {
    width: 320px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 465px;
}

.u-section-3 .u-text-1 {
  font-size: 1.875rem;
  font-weight: 700;
  margin: 22px auto 0;
}

.u-section-3 .u-slider-1 {
  width: 820px;
  min-height: 322px;
  height: auto;
  margin: 20px auto 60px;
}

.u-section-3 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
  width: auto;
  height: auto;
}

.u-section-3 .u-image-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/-b.png");
  background-position: 50% 50%;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px 60px;
}

.u-section-3 .u-text-2 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 0 auto;
}

.u-section-3 .u-image-2 {
  width: 22px;
  height: 22px;
  margin: -26px auto 0 241px;
}

.u-section-3 .u-text-3 {
  margin: 55px 54px 0;
}

.u-section-3 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 35px auto 0;
}

.u-section-3 .u-carousel-control-1 {
  width: 38px;
  height: 38px;
  background-image: none;
  left: -58px;
  position: absolute;
  right: auto;
}

.u-section-3 .u-carousel-control-2 {
  width: 38px;
  height: 38px;
  background-image: none;
  left: auto;
  position: absolute;
  right: -58px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-text-3 {
    margin-right: 0;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-slider-1 {
    width: 720px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-slider-1 {
    width: 540px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-slider-1 {
    width: 340px;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 562px;
}

.u-section-4 .u-text-1 {
  font-size: 1.875rem;
  font-weight: 700;
  margin: 18px auto 0;
}

.u-section-4 .u-slider-1 {
  width: 820px;
  min-height: 437px;
  height: auto;
  margin: 19px auto 60px;
}

.u-section-4 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
  width: auto;
  height: auto;
}

.u-section-4 .u-image-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/-b.png");
  background-position: 50% 50%;
}

.u-section-4 .u-container-layout-1 {
  padding: 21px 60px;
}

.u-section-4 .u-image-2 {
  width: 22px;
  height: 22px;
  margin: 13px auto 0 263px;
}

.u-section-4 .u-text-2 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: -24px auto 0;
}

.u-section-4 .u-text-3 {
  width: 409px;
  margin: 39px auto 0;
}

.u-section-4 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 46px auto 0;
}

.u-section-4 .u-image-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/-b.png");
  background-position: 50% 50%;
}

.u-section-4 .u-container-layout-2 {
  padding: 21px 60px;
}

.u-section-4 .u-image-4 {
  width: 22px;
  height: 22px;
  margin: 13px auto 0 263px;
}

.u-section-4 .u-text-4 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: -24px auto 0;
}

.u-section-4 .u-text-5 {
  width: 409px;
  margin: 19px auto 0;
}

.u-section-4 .u-btn-2 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 11px auto 0;
  padding: 4px 30px 5px;
}

.u-section-4 .u-video-1 {
  width: 339px;
  height: 205px;
  margin: 21px auto 0;
}

.u-section-4 .embed-responsive-1 {
  position: absolute;
}

.u-section-4 .u-carousel-control-1 {
  width: 105px;
  height: 105px;
  left: -71px;
  position: absolute;
  right: auto;
  padding: 39px;
}

.u-section-4 .u-carousel-control-2 {
  width: 105px;
  height: 105px;
  left: auto;
  position: absolute;
  right: -78px;
  padding: 39px;
}

@media (max-width: 991px) {
  .u-section-4 .u-slider-1 {
    width: 720px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-4 .u-text-2 {
    margin-top: 20px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-slider-1 {
    width: 540px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-slider-1 {
    width: 340px;
  }

  .u-section-4 .u-text-2 {
    margin-top: -24px;
  }

  .u-section-4 .u-text-3 {
    width: 320px;
  }

  .u-section-4 .u-text-5 {
    width: 320px;
  }

  .u-section-4 .u-video-1 {
    width: 320px;
    height: 194px;
  }
}