 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 3519px;
}

.u-section-1 .u-image-1 {
  width: 570px;
  height: 254px;
  margin: 104px auto 0;
}

.u-section-1 .u-custom-html-1 {
  height: auto;
  min-height: 66px;
  margin-top: 60px;
  margin-bottom: 0;
}

.u-section-1 .u-custom-html-2 {
  height: auto;
  min-height: 390px;
  margin-top: 69px;
  margin-bottom: 60px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-custom-html-2 {
    margin-top: 73px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 3506px;
  }

  .u-section-1 .u-image-1 {
    width: 540px;
    height: 241px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 3417px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 152px;
  }

  .u-section-1 .u-custom-html-2 {
    margin-top: 125px;
  }
}body{
  background: #000;
  padding-top: 10px;
} 
p.a{
  color: #9E00FF; 
  font-family: "Courier";
  font-size: 20px;
  margin: 10px 0 0 10px;
  white-space: nowrap;
  overflow: hidden;
  width: 30em;
  animation: type 4s steps(60, end); 
}
p.a:nth-child(2){
  animation: type2 8s steps(60, end);
}
p a{
  color: lime;
  text-decoration: none;
}
span3{
  animation: blink 1s infinite;
}
@keyframes type{ 
  from { width: 0; } 
} 
@keyframes type2{
  0%{width: 0;}
  50%{width: 0;}
  100%{ width: 100; } 
} 
@keyframes blink{
  to{opacity: .0;}
}
::selection{
  background: black;
}
* {
    font-family: Segoe UI;
}
body {
    margin: 0;
    color: #0E0E0E;
}
:root {
  
  
}
* {
  box-sizing: border-box;
}
body {
  font-family: 'Noto Sans JP', sans-serif;
  background-color: #fef8f8;
}
.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
  margin: 4rem 5vw;
  padding: 0;
  list-style-type: none;
}
.card {
  position: relative;
  display: block;
  height: 100%;  
  border-radius: calc(40 * 1px);
  overflow: hidden;
  text-decoration: none;
}
.card__image {      
  width: 100%;
  height: auto;
}
.card__overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;      
  border-radius: calc(40 * 1px);    
  background-color: #0E0E0E;      
  transform: translateY(100%);
  transition: .2s ease-in-out;
}
.card:hover .card__overlay {
  transform: translateY(0);
}
.card__header {
  position: relative;
  display: flex;
  align-items: center;
  gap: 2em;
  padding: 2em;
  border-radius: calc(40 * 1px) 0 0 0;    
  background-color: #0E0E0E;
  transform: translateY(-100%);
  transition: .2s ease-in-out;
}
.card__arc {
  width: 80px;
  height: 80px;
  position: absolute;
  bottom: 100%;
  right: 0;      
  z-index: 1;
}
.card__arc path {
  fill: #0E0E0E;
  d: path("M 40 80 c 22 0 40 -22 40 -40 v 40 Z");
}       
.card:hover .card__header {
  transform: translateY(0);
}
.card__thumb {
  flex-shrink: 0;
  width: 50px;
  height: 50px;      
  border-radius: 50%;      
}
.card__title {
  font-size: 1em;
  margin: 0 0 .3em;
  color: #6A515E;
}
.card__tagline {
  display: block;
  margin: 1em 0;
  font-family: "MockFlowFont";  
  font-size: .8em; 
  color: #D7BDCA;  
}
.card__status {
  font-size: .8em;
  color: #D7BDCA;
}
.card__description {
  padding: 0 2em 2em;
  margin: 0;
  color: #D7BDCA;
  font-family: "MockFlowFont";   
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
}    
.DownBtn {
	background:linear-gradient(to bottom, #c123de 5%, #a20dbd 100%);
	background-color:#c123de;
	border-radius:4px;
	display:inline-block;
	cursor:pointer;
	color:#ebebeb;
	font-family:Trebuchet MS;
	font-size:9px;
	font-weight:bold;
	padding:3px 35px;
	text-decoration:none;
}
.DownBtn:hover {
	background:linear-gradient(to bottom, #a20dbd 5%, #c123de 100%);
	background-color:#a20dbd;
}
.DownBtn:active {
	position:relative;
	top:1px;
}