 .u-section-1 {
  background-image: url("images/Bkg2.png");
  background-position: 54.01% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 1650px;
}

.u-section-1 .u-image-1 {
  width: 698px;
  height: 116px;
  margin: 51px auto 0;
}

.u-section-1 .u-image-2 {
  width: 570px;
  height: 264px;
  margin: 90px auto 0;
}

.u-section-1 .u-btn-1 {
  background-image: linear-gradient(to right, #ff0000, #8d0006);
  font-weight: 700;
  margin: -96px 337px 0 auto;
  padding: 7px 96px 7px 95px;
}

.u-section-1 .u-image-3 {
  width: 60px;
  height: 42px;
  margin: 77px auto 0;
}

.u-section-1 .u-image-4 {
  width: 570px;
  height: 264px;
  margin: 20px auto 0;
}

.u-section-1 .u-image-5 {
  width: 570px;
  height: 264px;
  margin: 0 auto 0 285px;
}

.u-section-1 .u-image-6 {
  width: 570px;
  height: 264px;
  margin: 0 auto 60px 285px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1361px;
  }

  .u-section-1 .u-btn-1 {
    margin-right: 137px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1042px;
  }

  .u-section-1 .u-btn-1 {
    margin-right: 0;
  }

  .u-section-1 .u-image-5 {
    margin-left: 150px;
  }

  .u-section-1 .u-image-6 {
    margin-left: 150px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 701px;
  }

  .u-section-1 .u-image-1 {
    width: 540px;
    height: 90px;
  }

  .u-section-1 .u-image-2 {
    width: 540px;
    height: 250px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: -82px;
  }

  .u-section-1 .u-image-4 {
    width: 540px;
    height: 250px;
  }

  .u-section-1 .u-image-5 {
    width: 540px;
    height: 250px;
    margin-left: 0;
  }

  .u-section-1 .u-image-6 {
    width: 540px;
    height: 250px;
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 296px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 57px;
  }

  .u-section-1 .u-image-2 {
    width: 340px;
    height: 157px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 11px;
  }

  .u-section-1 .u-image-4 {
    width: 340px;
    height: 157px;
  }

  .u-section-1 .u-image-5 {
    width: 340px;
    height: 157px;
  }

  .u-section-1 .u-image-6 {
    width: 340px;
    height: 157px;
  }
}