.u-section-1 .u-sheet-1 {
  min-height: 1006px;
}

.u-section-1 .u-image-1 {
  width: 399px;
  height: 399px;
  margin: -23px auto 0;
}

.u-section-1 .u-text-1 {
  margin: -47px auto 0;
}

.u-section-1 .u-text-2 {
  margin: -79px auto 0 259px;
}

.u-section-1 .u-text-3 {
  font-weight: 700;
  margin: 21px 0 60px;
}

@media (max-width: 991px) {
  .u-section-1 .u-text-2 {
    margin-left: 198px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    margin-left: 56px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 140px;
  }

  .u-section-1 .u-text-3 {
    margin-right: auto;
    margin-left: -9px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 947px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 340px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 12px;
    margin-left: -14px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 64px;
  }

  .u-section-1 .u-text-3 {
    margin-left: -30px;
  }
}